{% extends "base.html.twig" %}

{% block content %}
                    
        <div class="row">
        	<div class="col-md-9">
        		<div class="content-background">
        			<div class="content">
        				Foto !
        			</div>
        		</div>
        	</div>
        	<div class="col-md-3">
        		<div class="content-background background--donkerblauw">
        			<div class="content">
        				<h2>Bijeenkomsten</h2>
        				<ul class="list list--links list--chevrons">
        					<li>
        						<a href="#">Contactgegevens toevoegen</a>
        					</li>
        					<li>
        						<a href="#">Onderwijsaanbieder toevoegen</a>
        					</li>
        					<li>
        						<a href="#">Onderwijslocaties toevoegen</a>
        					</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        </div>            

		<section class="row">
            <div class="col-md-12">
                <div class="content">
                    <header class="content__header">                        
                        <h1 class="content__header-title">Uitgelicht</h1>                        
                    </header>
                </div>
            </div>
        </section>
        
        <div class="row">
        	<div class="col-md-12">
        		<div class="content-background">
        			<div class="content">
        				Tekst
        			</div>
        		</div>
        	</div>        
        </div>


<script>
    /* Load collapse component */
    System.import('/uno/components/collapse/collapse.js').then(function (module) {

        /* Select all collapsible elements on the page */
        var elements = document.querySelectorAll('main [x-uno-collapse]');

        /* Initialize all collapses */
        for (var i = 0; i < elements.length; i++) {
            new module.Collapse(elements.item(i));
        }
    });

</script>

{% endblock %}
