{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">


                <header class="content__header">

                    <h1 class="content__header-title">Event</h1>

                </header>
            </div>
        </div>
    </section>

    <div class="row theme--large-padding">

        <div class="col-md-8">
            <div class="content-background">
                <div class="content" id="#event1">
                    <div class="row">
                        <h2>Evenement </h2>
                        <div class="col-md-6">
                            <img src="https://picsum.photos/300/300">
                        </div>
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu faucibus odio, nec
                                molestie
                                orci. Phasellus sollicitudin cursus ullamcorper. Nunc quis sapien non felis bibendum
                                tempor et
                                id tortor. Mauris felis sapien, condimentum ullamcorper tincidunt sit amet, commodo sed
                                ex. Nam
                                malesuada quis neque sit amet imperdiet. Ut nec est pharetra leo varius varius ac id
                                orci. Nulla
                                euismod vestibulum eros eu sagittis.</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-background background--donkerblauw">
                <div class="content">
                    <h1>Zoeken naar Evenementen</h1>
                    <div class="form-control">
                    <form>
                        <div class="input combobox" id="multiple_combobox">

                            <label class="input__label" for="aanvraagstatus">Zoek en selecteer een of meerdere
                                Evenementen</label>
                            <div class="input__hint"></div>

                            <ul class="combobox__input input__control input__control--text input__control--xl input__control--select"
                                id="aanvraagstatus">
                                <li id="#pitch1" data-id="0">Event 1</li>
                                <li id="#pitch2" data-id="1">Event 2</li>
                            </ul>
                        </div>

                        <div class="input">
                            <button type="submit" class="btn btn--primary">Verder</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="content-background">
                <div class="content" id="#event1">
                    <div class="row">
                        <h2>De organisatie </h2>
                        <div class="col-md-6">
                            <img src="https://picsum.photos/300/300">
                        </div>
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu faucibus odio, nec
                                molestie
                                orci. Phasellus sollicitudin cursus ullamcorper. Nunc quis sapien non felis bibendum
                                tempor et
                                id tortor. Mauris felis sapien, condimentum ullamcorper tincidunt sit amet, commodo sed
                                ex. Nam
                                malesuada quis neque sit amet imperdiet. Ut nec est pharetra leo varius varius ac id
                                orci. Nulla
                                euismod vestibulum eros eu sagittis.</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>












    </div>


    </div>



    <script>
        System.import('/uno/components/form/combobox.js').then(function (module) {
            let multipleComboBox = new module.Combobox(document.getElementById('multiple_combobox'), true);
        });
    </script>




{% endblock %}
