    <nav class="top-nav" id="docs-nav">
        <div class="container">
            <div class="top-nav__block top-nav-autoresize">
                <ul class="nav">
                    <li class="nav__item">
                        <a href="/index.html" title="Home" class="nav__link  ">
                            <i class="icon icon-home" role="presentation"></i>
                            <span>NL Design System</span>
                        </a>
                    </li>
                    
                    <li class="nav__item"><a class="nav__link " href="/aan-de-slag/index.html">Aan de slag</a></li>
                    
                    <li class="nav__item"><a class="nav__link " href="/core/index.html">Basis</a></li>
                    
                    <li class="nav__item"><a class="nav__link " href="/componenten/index.html">Componenten</a></li>
                    
                    <li class="nav__item"><a class="nav__link nav__link--active" href="../index.html">Voorbeelden</a></li>
                    
                </ul>
            </div>
        </div>
    
    </nav>